---
title: PechaKucha São Paulo Vol. 8 + Inspire Japan
date: 2011-06-20 10:51 BRT
tags: Events, User Experience
---

Post com mega-atraso de <del>duas</del> três semanas, mas de coração. =]

No dia 28/05, a convite do pessoal do Grupo Elefante, fiz uma apresentação no evento PechaKucha São Paulo Vol. 8 + Inspire Japan, e falei sobre design, código, experiência… e sushi.

## Sobre o PechaKucha

<%= post_image({
      :src => "pechakucha_logo.gif",
      :full => "pechakucha_logo.gif"
    })
%>

O evento PechaKucha surgiu no Japão em 2003, com o objetivo de possibilitar que jovens designers fizessem novos contatos e mostrassem seus trabalhos. O nome vem da onomatopéia de "bate papo", e seu sucesso fez com que logo fosse celebrado mundialmente. Hoje, novas idéias são promovidas e espalhadas em 417 cidades ao redor do mundo.

### Inspire Japan

Após o terremoto do dia 11 de março de 2011, os fundadores do PechaKucha — Astrid Klein &amp; Mark Dytham — decidiram que era hora das pessoas mostrarem que, mais do que sermos inspirados pelo Japão, estamos solidários a eles e mandando forças para sua reconstrução.

105 eventos ao redor do mundo participaram do movimento, com apresentações, demonstrações e oficinas sobre diversas partes da cultura japonesa.

### 20 × 20

O formato das apresentações é fixo e segue a regra "20 × 20": 20 slides, 20 segundos cada, avançados automaticamente. Isso garante maior foco nas idéias centrais, maior proximidade com o público, e maior espaço pra discussões.

Para mim, esse foi o maior dos desafios: contar uma história em 400 segundos, em 20 imagens. Foi difícil sintetizar e transmitir uma idéia em 6 minutos e 40 segundos, ainda mais tratando-se de um assunto tão profundo e tão querido por mim…

## Sushi.

Como disse, falei sobre design, código, experiência… e sushi. O vídeo da apresentação está logo abaixo, mas para quem não pode vê-lo (ou está com preguiça), vou sintetizar suas principais idéias. Os slides estão no final do post.

<figure class="post-media">
  <iframe width="400" height="300" src="http://www.youtube.com/embed/kRqk2vf9MFE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

### O segredo do sushi

<%= post_responsive_image({
      :sizes => [
        { :src => "edomaenigiri_small.jpg", :media => "(max-width: 640px)" },
        { :src => "edomaenigiri_small@2x.jpg", :media => "(max-width: 640px) and (min-device-pixel-ratio: 1.5)" },
        { :src => "edomaenigiri_large.jpg", :media => "(min-width: 641px)", :canonical => true },
        { :src => "edomaenigiri_large@2x.jpg", :media => "(min-width: 641px) and (min-device-pixel-ratio: 1.5)" }
      ],
      :full => "edomaenigiri_full.jpg",
      :caption => "Sushi: Habilidade + Qualidade + Simplicidade"
    })
%>

Para mim, o sushi, que surgiu no século VII na China e popularizou-se no Japão, é como uma arte aplicada de maneira projetual. Assim como o arquiteto tem claro em sua mente uma casa como seu produto final, o _itamae_ (chef em japonês — aqui no Brasil é chamando de _sushiman_) sabe o resultado da combinação do peixe, do arroz, da faca e de suas mãos. Mas para chegar neste resultado, ele necessita de três itens:

1. **Habilidade do itamae:** O _itamae_ necessita de um mestre para ensiná-lo, e décadas aprimorando suas habilidades. Embora nunca a alcance, ele busca sempre chegar à perfeição.
2. **Ingredientes de qualidade:** O sushi necessita de ingredientes frescos e de qualidade. Tudo o que for congelado ou criado a ração perderá sabor e textura.
3. **Simplicidade na apresentação:** O sushi é estrela de seu próprio prato, e o peixe é estrela de seu próprio sushi. A apresentação deve ser minimalista, em uma superfície plana e limpa, ressaltando a beleza da simplicidade.

### O design e desenvolvimento de interfaces

<%= post_responsive_image({
      :sizes => [
        { :src => "wireframe_small.jpg", :media => "(max-width: 640px)" },
        { :src => "wireframe_large.jpg", :media => "(min-width: 641px)", :canonical => true }
      ],
      :full => "wireframe_full.jpg",
      :caption => "Interfaces: design + código + user experience"
    })
%>

Assim como o sushi, a interface é composta de três ítens:

1. **Conhecimentos do designer:** Uma boa interface é projetada, planejada. Ela é símbolo de todo o conhecimento do Designer de Interfaces em relação ao produto, ao público-alvo, aos padrões de usabilidade e anos de muita prática.
2. **Código bem escrito:** A interface digital precisa ter um código eficiente e bem elaborado. Ele deve ser compreensível, extensível e testado; um mal código resulta em uma interface falha, de comportamento inesperado e difícil de manter.
3. **Experiência do usuário:** Uma boa interface não é apenas o "rosto" de uma aplicação, e sim a maneira como ela se comunica com o usuário. Ela deve ser simples, e a simplicidade deve ser sua maior estrela. O usuário deve poder completar sua tarefa com sucesso e sem frustrações.

### Sushi + interfaces = ?

E nesta hora você se pergunta: "por que diabos comparar sushi com interfaces?".

1. **Itamae ≅ Designer:** Assim como o _itamae_ necessita usar o resultado de décadas de treinamento para fazer um bom sushi, o designer necessita usar seu conhecimento, embasamento teórico e técnicas para projetar uma boa interface.
2. **Ingredientes ≅ Código:** O bom sushi precisa de ingredientes de qualidade; uma interface digital precisa de um código de qualidade. O sucesso do produto final depende do uso de boas ferramentas e fundações; e atalhos, opções baratas e mal feitas, e produções em massa afetarão o resultado do projeto.
3. **Simplicidade ≅ Experiência:** O bom sushi deixa claro, sem esforços, o resultado de décadas de treinamento e bons ingredientes. A interface também deve ser clara ao usuário: não importa a complexidade do serviço, as tarefas devem ser completadas da maneira mais rápida e direta. Ela deve esconder toda a complexidade de implementação e execução, e mostrar controles simples de serem manipulados e facilmente compreendidos.

### O problema dos "rodízios de sushi"

<%= post_responsive_image({
      :sizes => [
        { :src => "rodizio_small.jpg", :media => "(max-width: 640px)" },
        { :src => "rodizio_small@2x.jpg", :media => "(max-width: 640px) and (min-device-pixel-ratio: 1.5)" },
        { :src => "rodizio_large.jpg", :media => "(min-width: 641px)", :canonical => true }
      ],
      :full => "rodizio_small@2x.jpg",
      :caption => "Rodízios de sushi: perda de qualidade em favor de quantidade e rapidez."
    })
%>

A moda agora (pelo menos em São Paulo) é rodízio de sushi: variedades de sushi e outros pratos em quantidades absurdas e preços baixos. Claro, com consequências: para produzir esta quantidade absurda, é necessário usar ingredientes congelados, sacrificar técnica pela rapidez, e reduzir o cuidado com a apresentação.

O mesmo ocorre com o design e desenvolvimento de interfaces: a necessidade de produzir muito em pouco tempo acaba sacrificando o cuidado no projeto, a qualidade do código e a experiência do usuário.

Precisamos parar de fazer rodízios de sushi no design.

### Não só de interface vive o sushi

<%= post_responsive_image({
      :sizes => [
        { :src => "sushi_small.jpg", :media => "(max-width: 640px)" },
        { :src => "sushi_large.jpg", :media => "(min-width: 641px)", :canonical => true }
      ],
      :full => "sushi_full.jpg",
      :caption => "Aplique a arte do sushi na sua vida."
    })
%>

Não restrinja essa prática do sushi apenas ao design e desenvolvimento de interfaces, ou ao seu ambiente de trabalho. Aplique isso em seus objetivos de vida, em sua saúde física e mental, ao seu esporte ou hobby favorito. A beleza desta iguaria está em aplicar em alguns alimentos o que deveríamos aplicar na vida como um todo: a **habilidade** de quem faz, a **qualidade** do que faz, e a **simplicidade** no final.

<figure class="post-media">
  <iframe src="http://www.slideshare.net/slideshow/embed_code/8364577" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"> </iframe>
</figure>

<p><small>Créditos das imagens: M. Takeuchi, <a href="http://www.flickr.com/photos/yoomeehq/4976473010/">yoomeehq</a></small></p>
