<div class="products-section">
  <div class="section-content">
    <p class="description">Beautiful design, functional engineering and
    un-compromised quality are the trademarks of Oslo products. We have
    built our company around modernism and simplicity and have incorporated
    these core convictions into the design of each of our products.</p>

    <blockquote class="brand-quote">
      <p><strong>Oslo</strong> products were conceived to
      <strong>show your baby</strong> the world!</p>
    </blockquote>

    <section class="products-list">
      <h3 class="visuallyhidden">Our products</h3>

      <figure class="product">
        <%= image_tag "alm_thumb.png", :alt => "Alm" %>
        <figcaption class="name">Alm</figcaption>
      </figure>

      <figure class="product nth-2">
        <%= image_tag "bjork_thumb.png", :alt => "Bjørk" %>
        <figcaption class="name">Bjørk</figcaption>
      </figure>

      <figure class="product nth-3">
        <%= image_tag "einer_thumb.png", :alt => "Einer" %>
        <figcaption class="name">Einer</figcaption>
      </figure>

      <figure class="product nth-2 nth-4">
        <%= image_tag "hegg_thumb.png", :alt => "Hegg" %>
        <figcaption class="name">Hegg</figcaption>
      </figure>

      <figure class="product nth-5">
        <%= image_tag "valnott_thumb.png", :alt => "Valnøtt" %>
        <figcaption class="name">Valnøtt</figcaption>
      </figure>
    </section>
  </div>
</div>
